
/*General*/
p {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;

}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;

}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;

}

body {
    padding-right: 200;
    padding-left: 200;
    background-color: #06090F;
}


/*Componentes*/

.header{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.nav{
    display: inline;
    padding: 0;
    margin: 0;
    
}

.nav_list{
    list-style-type: none;
    padding: 5;
    background-color:#161B22;
}

.nav_list_item{
    display: inline;
    margin: -3;
    padding: 10;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

}

.nav_list_item_text{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.social_icons{
    height: 30px;
    width: 30px;
    margin-right: 10;
}


/*contact*/
.block_social_networks{
    display: flex;
    flex-wrap: wrap;
}

.social_network{
    margin-bottom: 40;
    margin-left: 20;
    max-width: 500px;
}

.social_logo{
    width: 85;
    float: left;
    margin-right: 20;
    color: white;
}

.social_text{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

/*about me*/
.about_avatar{
    height: 200;
}

.about_parraf{
    display: flex;
}

.about_text{
    margin-left: 20;
}


/*Gallery*/
#gallery_bar{
    background-color: #161B22;
    
}

#gallery_buttons{
    

}

#deviantART-gallery{
    
}

#gallery {
    display: flex;
    flex-wrap: wrap;

}
#gallery_image{
    width: 45%;
    height: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}



