body {
  background-color: #101010;
  color: rgb(255, 255, 255);
  height: 100%;
  padding-right: 2%;
  padding-left: 2%;

}






.fur {
  width: 70%;
  display: table-cell;
  margin-right: 100px;
}



.icon {
  height: 30px;
  width: 30px;
  margin-right: 10;
}

.about {
  display: flex;
}

.paragraph {
  margin-left: 6%;
  margin-right: 6%;
}

.ref {
  width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
}