body{
  background-color: #06090f;
  color: rgb(255, 255, 255);
  padding-left: 5vw;
  padding-right: 5vw;
}

p{
  font-size: 120%;
  text-align: justify;
}

.icon{
    height: 30px;
    width: 30px;
    margin-right: 10;
}

.about{
  display: flex;
}

.paragraph{
  margin-left: 6%;
  margin-right: 6%;
}

.ref{
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}