body{
  background-color: #06090f;
  color: rgb(255, 255, 255);
  padding-left: 5vw;
  padding-right: 5vw;
}

.icon{
    height: 30px;
    width: 30px;
    margin-right: 10;

}

.about{
  display: flex;
}

p{
  font-size: 120%;

}

.paragraph{
  margin-left: 6%;
  margin-right: 6%;
}