nav {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    background-color: #161b22;

}
  
.link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
}

.link:hover{
  background-color: #111;
}


.active{
    background-color: #111;
}


/* Change the link color to #111 (black) on hover */
NavLink:hover {
    background-color: #111;
}